@using SafeHouseAMS.BizLayer.LifeSituations.Commands
<div class="container-fluid">
    <RadzenFieldset Text="Миграционный статус">
        <div class="row">
            <div class="col-md-12">
                <RadzenTextArea @bind-Value="@_details" Placeholder="Опишите миграционный статус" Style="width: 100%"/>
            </div>
        </div>
    </RadzenFieldset>
</div>

@code {
    private string? _details;

    public SetMigrationStatus? BuildCommand(Guid docId) =>
        string.IsNullOrWhiteSpace(_details) ? null : new(docId, _details);
}
