<div>
    <RadzenFieldset Text="Факторы уязвимости">
        <div>
            <div>
                <RadzenCheckBox TValue="bool" />
                <RadzenLabel Text="Заивисмость" />
            </div>
            <div>
                <RadzenTextBox Placeholder="Уточните тип"></RadzenTextBox>
            </div>
        </div>
        <div>
            <div>
                <RadzenCheckBox TValue="bool" />
                <RadzenLabel Text="Насилие в детстве" />
            </div>
        </div>
        <div>
            <div>
                <RadzenCheckBox TValue="bool" />
                <RadzenLabel Text="Опыт интернатного учреждения" />
            </div>
        </div>
        <div>
            <div>
                <RadzenCheckBox TValue="bool" />
                <RadzenLabel Text="Бездомность" />
            </div>
        </div>
        <div>
            <div>
                <RadzenCheckBox TValue="bool" />
                <RadzenLabel Text="Мигрант_ка" />
            </div>
        </div>        
        <div>
            <div>
                <RadzenCheckBox TValue="bool" />
                <RadzenLabel Text="Состояние здоровья" />
            </div>
            <div>
                <ul>
                    <li>
                        <RadzenCheckBox TValue="bool"/>
                        <RadzenLabel Text="Инвалидность"/>
                    </li>
                    <li>
                        <RadzenCheckBox TValue="bool"/>
                        <RadzenLabel Text="ОВЗ"/>
                    </li>
                    <li>
                        <RadzenCheckBox TValue="bool"/>
                        <RadzenLabel Text="Психическое расстройство"/>
                    </li>
                    <li>
                        <RadzenCheckBox TValue="bool"/>
                        <RadzenLabel Text="Туберкулёз"/>
                    </li>
                    <li>
                        <RadzenCheckBox TValue="bool"/>
                        <RadzenLabel Text="ВИЧ"/>
                    </li>
                    <li>
                        <RadzenCheckBox TValue="bool"/>
                        <RadzenLabel Text="Гепатит B"/>
                    </li>
                    <li>
                        <RadzenCheckBox TValue="bool"/>
                        <RadzenLabel Text="Гепатит C"/>
                    </li>
                    <li>
                        <RadzenCheckBox TValue="bool"/>
                        <RadzenLabel Text="Другое"/>
                        <RadzenTextBox Placeholder="Уточните"/>
                    </li>
                </ul>
            </div>
        </div>    
        <div>
            <div>
                <RadzenCheckBox TValue="bool" />
                <RadzenLabel Text="Другое" />
            </div>
            <div>
                <RadzenTextBox Placeholder="Уточните.."></RadzenTextBox>
            </div>
        </div>
    </RadzenFieldset>
</div>
@code {
    
}