@using SafeHouseAMS.BizLayer.LifeSituations.Commands
<div class="container-fluid">
    <RadzenFieldset Text="Опыт работы">
        <div class="row">
            <div class="col-md-12">
                <RadzenTextArea @bind-Value="@_workingExperience" Placeholder="Опишите опыт работы" Style="width: 100%"/>
            </div>
        </div>
    </RadzenFieldset>
</div>

@code {
    private string? _workingExperience;

    public SetWorkingExperience? BuildCommand(Guid docId) =>
        string.IsNullOrWhiteSpace(_workingExperience) ? null : new(docId, _workingExperience);
}
