@page "/users"

<h3>Пользователи</h3>
<AuthorizeView>
    <Authorized>
        <div class="new-user-form-container">
            <AddNewUserForm/>
        </div>
    </Authorized>
    <NotAuthorized>
        Вы не авторизировны!
    </NotAuthorized>
</AuthorizeView>