@page "/PersonCatalogue"
@using SafeHouseCRM.BizLayer.Abstractions.Services
@using SafeHouseCRM.BizLayer.Abstractions.Models
@inject IPersonCatalogue _personCatalogue

<h3>Каталог пострадавших</h3>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Дата рождения</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in _persons)
        {
            <tr>
                <td>@person.ID</td>
                <td>@person.Name</td>
                <td>@person.Surname</td>
                <td>@person.BirthDate</td>
            </tr>
        }
    </tbody>
</table>

@code {

    private List<Person> _persons = new();
    
    protected override async Task OnInitializedAsync()
    {
        await foreach (var person in _personCatalogue.GetCollection())
        {
            _persons.Add(person);
        }
        await base.OnInitializedAsync();
    }

}