@page "/AddPerson"
@using SafeHouseCRM.BizLayer.Abstractions.Models
@using SafeHouseCRM.BizLayer.Abstractions.Services
@inject IPersonCatalogue _personCatalogue;
@inject NavigationManager _navigation;

<h3>Новая карточка постардавшего</h3>

<div class="row">
    <div class="col-xl-6">
        <h4>ID записи</h4>
        <RadzenLabel Text="@_person.ID.ToString()"/>
        <h4>Имя</h4>
        <RadzenTextBox Placeholder="Введите имя..."  @bind-Value="_person.Name"/>
        <h4>Фамилия</h4>
        <RadzenTextBox Placeholder="Введите фамилию..."  @bind-Value="_person.Surname"/>
    </div>
    <div class="col-xl-6">
        <h4>Дата рождения</h4>
        <RadzenDatePicker @bind-Value="_person.BirthDate" DateFormat="d" />
    </div>
</div>
<div class="row">
    <RadzenButton Text="Сохранить" Click="Callback"/>
</div>

@code {
    private readonly Person _person = new(){ID = Guid.NewGuid()};

    private async Task Callback()
    {
        await _personCatalogue.Add(_person);
        _navigation.NavigateTo(nameof(PersonCatalogue));
    }

}