@model SafeHouseAMS.IdentityProvider.Controllers.Account.LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="logged-out-page">
    <h1>
        Вы вышли из системы
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Нажмите <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">здесь</a> чтобы вернуться в
            <span>@Model.ClientName</span> приложение.
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
