@model SafeHouseAMS.IdentityProvider.Controllers.Account.LogoutViewModel

<div class="logout-page">
    <div class="lead">
        <h1>Выход</h1>
        <p>Вы уверены что хотите выйти?</p>
    </div>

    <form asp-action="Logout">
        <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
        <div class="form-group">
            <button class="btn btn-primary">Да</button>
        </div>
    </form>
</div>
