<div class="container-fluid">
    <RadzenFieldset Text="Информация о детях">
        <div class="row">
            <div class="col-md-2">
                <RadzenCheckBox TValue="bool" @bind-Value="@_hasChildren"/>
                <RadzenLabel Text="Есть дети"/>
            </div>
        </div>
            @if (_hasChildren)
            {
                <div class="row">
                    <div class="col-md-6">
                        <RadzenTextBox @bind-Value="@childrenDetails" Placeholder="Уточните"/>
                    </div>
                </div>
            }
    </RadzenFieldset>
</div>
@code {
    private bool _hasChildren;
    private string? childrenDetails;
}