@page "/SurvivorCatalogue"
@using System.Collections.ObjectModel
@using SafeHouseAMS.BizLayer.Abstractions.Models
@using SafeHouseAMS.BizLayer.Abstractions.Services
@inject ISurvivorCatalogue _survivorCatalogue
@inject NavigationManager _navigation

<h3>Каталог пострадавших</h3>

<div class="row">
    <RadzenDataGrid 
        TItem="Survivor"
        Data="@_persons"
        @ref="personsGrid">
        <Columns>
            <RadzenDataGridColumn TItem="Survivor" Property="ID" Title="ID"/>
            <RadzenDataGridColumn TItem="Survivor" Property="Name" Title="Имя"/>
            <RadzenDataGridColumn TItem="Survivor" Property="Surname" Title="Фамилия"/>
            <RadzenDataGridColumn TItem="Survivor" Property="BirthDate" Title="Дата рождения" FormatString="{0:d}"/>
            <RadzenDataGridColumn TItem="Survivor" Title="Удален">
                <Template Context="data">
                    <RadzenCheckBox TValue="bool" @bind-Value="@data.IsDeleted" Disabled="true"/>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>
<div class="row">
    <RadzenButton Text="Добавить новую карточку" Click="NewSurvivorClick"/>
</div>


@code {

    RadzenDataGrid<Survivor>? personsGrid;
    private ObservableCollection<Survivor> _persons = new();
    
    protected override async Task OnInitializedAsync()
    {
        await foreach (var survivor in _survivorCatalogue.GetCollection())
        {
            _persons.Add(survivor);
        }
        await base.OnInitializedAsync();
        personsGrid?.Reload();
    }

    private void NewSurvivorClick()
    {
        _navigation.NavigateTo(nameof(AddSurvivor));
    }

}