@using SafeHouseAMS.BizLayer.LifeSituations.Records

@if (Record is null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                <RadzenLabel Text="Нет информации о статусе регистрации"/>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <RadzenLabel Text="Статус регистрации"/>
            <RadzenLabel Text="@Record.Details"/>
        </div>
    </div>
}

@code {
    [Parameter] public RegistrationStatusRecord? Record { get; set; }
}
