@using SafeHouseAMS.BizLayer.LifeSituations
@if (StateReport is {} report)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <CitizenshipRecordView Record="@report.Citizenship"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ChildrenRecordView Record="@report.Children"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @foreach (var eduRec in report.Education)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <EducationLevelRecordView Record="@report.Education"/>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <MigrationStatusRecordView Record="@report.Migration"/>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <RadzenLabel Text="Отчёт загружается..."/>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public SurvivorStateReport? StateReport { get; set; }
}
