@using SafeHouseAMS.BizLayer.LifeSituations.Vulnerabilities

@if(Vulnerabilities?.Any() == true)
{
    <div>
        <div class="row">
            <div class="col-md-4">
                <RadzenLabel Text="Факторы уязвимости"/>
            </div>
            <div class="col-md-6">
                <ul>
                    @foreach (var factor in Vulnerabilities)
                    {
                        <li>
                            <RadzenLabel Text="@factor.ToString()"/>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-info">
        <RadzenLabel Text="Информация факторах уязвимости не заполнена"/>
    </div>    
}

@code {
    [Parameter] public IReadOnlyCollection<Vulnerability>? Vulnerabilities { get; set; }
}