@page "/"

<h1><b>С</b>истема <b>У</b>правления <b>П</b>омощью Фонда "Безопасный дом"</h1>

<p>
    Вы можете:
</p>
<ul>
    <li><RadzenLink Path="SurvivorCatalogue" Text="Посмотреть каталог пострадавших"/></li>
</ul>
